<h2 mat-dialog-title>{{ modifiedCar.type }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <input matInput [(ngModel)]="modifiedCar.type" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Napi ár</mat-label>
    <input matInput [(ngModel)]="modifiedCar.dailyPrice" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]=""
    (click)="removeCar(modifiedCar.type)"
    cdkFocusInitial
  >
    Autó törlése
  </button>
  <button mat-button [mat-dialog-close]="modifiedCar" cdkFocusInitial>
    Módosítások elmentése
  </button>
</mat-dialog-actions>
