<div class="m-4 flex flex-col gap-4">
  <label for="datePicker" class="text-xl font-bold">Mikorra foglalnál?</label>
  <mat-form-field class="w-72">
    <mat-date-range-input
      [rangePicker]="picker"
      id="datePicker"
      [comparisonStart]="campaignOne.value.start"
      [comparisonEnd]="campaignOne.value.end"
      [formGroup]="campaignOne"
    >
      <input matStartDate placeholder="Start date" formControlName="start" />
      <input matEndDate placeholder="End date" formControlName="end" />/>
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
<div class="flex flex-col gap-5 mx-4">
  <p class="text-xl font-bold">Elérhető autók</p>
  <div class="flex gap-5 flex-wrap">
    <app-car-card
      *ngFor="let car of availableCars()"
      [car]="car"
      buttonText="Foglalás"
      (onClick)="bookCar(car)"
    ></app-car-card>
  </div>
</div>
